# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.vs/magic-randomizer/copilot-chat/71b49954/sessions
/.vs/magic-randomizer/CopilotIndices/17.14.1561.44479
/.vs/magic-randomizer/CopilotIndices/18.0.981.45449
/.vs/magic-randomizer/FileContentIndex
